body{
    margin: 20px;
    text-align: center;
}

label{
    display: inline-block;
    width: 200px;
}

input{
    width: 160px;
}

label, button{
    margin-left: 10px;
}
button{
    width: 100px;
    height: 35px;
    background-color: aqua;
}